{% load staticfiles %}
<div id="apiswf"></div>
<div class="well" style="overflow: hidden;">
  <div class="row" style="margin-bottom: 10px;">
    <div class="col-md-12">
      <input id="play_key" class="form-control" value="a239851">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"> 
      <div class="playControls btn-group">
        <button id="play" class="btn btn-default"><i class="fa fa-play-circle"></i></button>
        <button id="stop" class="btn btn-default"><i class="fa fa-stop"></i></button>
        <button id="pause" class="btn btn-default"><i class="fa fa-pause"></i></button>
        <button id="previous" class="btn btn-default"><i class="fa fa-step-backward"></i></button>
        <button id="next" class="btn btn-default"><i class="fa fa-step-forward"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="well" style="display: none">
  <div class="row">
    <div class="artistAlbumInfo col-md-6 ">
      <h3><span id="artist"></span> - <span id="track"></span></h3>
      <img src="" id="art" class="albumArt">
    </div>
    <div class="col-md-6">
      <h3 id="album"></h3>
      <h4>Playstate <p id="playState"></p></h4>
      <h4>Position <p id="position"></p></h4>
    </div>
  </div>
</div>
