{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% block content %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/TimeCircles.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-resource.js' %}"></script>
<link href="{% static 'css/TimeCircles.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/pistrion-app.js' %}"></script>
<link href='http://fonts.googleapis.com/css?family=Roboto:200,400,300,500' rel='stylesheet' type='text/css'>

<div class="row">
  <div class="col-sm-3 col-md-2" style="color: white;">
    <div id="example" data-timer="59" style="height: 150px;">
    </div>
  </div>
  <div class="col-sm-5">
    {% include 'partials/rdio.html' %}
  </div>
</div>

<div class="row">
<!-- chart starts here -->
  <div class="col-md-12">
    <div class="widget-box">

      <div class="widget-title">
        <h1 style="text-align:center;"><i class="glyphicon glyphicon-check"></i> Text the code to (703) 997-8436 to vote!</h1>
      </div>

<div class="progress" style="border-radius: 0">
  <div class="progress-bar progress-bar-success" style="width: 35%" id="progress1">
    <span class="sr-only">35% Complete (success)</span>
  </div>
  <div class="progress-bar progress-bar-info" style="width: 35%" id="progress2">
    <span class="sr-only">35% Complete (info)</span>
  </div>
  <div class="progress-bar progress-bar-primary" style="width: 10%" id="progress3">
    <span class="sr-only">10% Complete (primary)</span>
  </div>
  <div class="progress-bar progress-bar-danger" style="width: 10%" id="progress4">
    <span class="sr-only">10% Complete (danger)</span>
  </div>
  <div class="progress-bar progress-bar-warning" style="width: 20%" id="progress5">
    <span class="sr-only">20% Complete (warning)</span>
  </div>
</div>

      <div class="widget-container" ng-app="pistrion-app" ng-controller="AppController">

        <div class="row">

          <div class="col-xs-12">

            <div id="albums">

              <div class="item">
                <span class="label label-success" style="font-size: 1.5em">{$song1.songId$}</span>
                <img src="{$song1.icon$}">
                <h3>{$song1.name$}</h3>
              </div>

              <div class="item">
                <span class="label label-info" style="font-size: 1.5em">{$song2.songId$}</span>
                <img src="{$song2.icon$}">
                <h3>{$song2.name$}</h3>
              </div>

              <div class="item">
                <span class="label label-danger" style="font-size: 1.5em">{$song3.songId$}</span>
                <img src="{$song3.icon$}">
                <h3>{$song3.name$}</h3>
              </div>

              <div class="item">
                <span class="label label-primary" style="font-size: 1.5em">{$song4.songId$}</span>
                <img src="{$song4.icon$}">
                <h3>{$song4.name$}</h3>
              </div>

              <div class="item">
                <span class="label label-warning" style="font-size: 1.5em">{$song5.songId$}</span>
                <img src="{$song5.icon$}">
                <h3>{$song5.name$}</h3>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div> <!-- close widget box -->
  </div> <!-- close col -->

</div><!-- row End -->


<!-- Main Container ends here -->
<script type="text/javascript">

  $("#example").TimeCircles({animation: 'ticks',
    circle_bg_color: "lightgray",
    fg_width: 0.02,
    bg_width: 0.2,
    count_past_zero: false,
    direction: "Counter-clockwise",
    time: {
    Days: { show: false },
    Hours: { show: false },
    Minutes: { show: false },
    Seconds: { color: "white" }
    },
  });

  $("#example").TimeCircles().addListener( function() {

    var value = $("#example").TimeCircles().getTime();
    if( value <= 2 ) {

      // reset the data
      $.ajax({
        type: "GET",
        url: "/trigger/",
        async: false
      });

      // actually get the winning key
      $.ajax({
        type: "GET",
        url: "/retrieve/",
        success: function( data ) {
          alert( data );
          //$("#play_key").rdio().play( data );
        }
      });

      // clock restarts 
      $("#example").TimeCircles().restart();
    }
  });

  function getRandomInt (min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
  }
  function generateProgressPercentages() {
    p1 = getRandomInt(5, 45);
    p3 = getRandomInt(5, 45);
    r = getRandomInt(15, 75) * 0.01;
    p4 = Math.floor((100 - p1 - p3) * r);
    p2 = Math.floor((100 - p1 - p3 - p4)/2);
    p5 = 100 - p1 - p2 - p4 - p3;
    $("#progress1").width(p1 + "%");
    $("#progress2").width(p2 + "%");
    $("#progress3").width(p3 + "%");
    $("#progress4").width(p4 + "%");
    $("#progress5").width(p5 + "%");
    sum = p1 + p2 + p3 + p4 + p5;
    setTimeout(function () { generateProgressPercentages(); }, 3000);
  }
  $(document).ready(function() {
    generateProgressPercentages();
  });

//    $('img').hide();
//    $('img').each(function(i) {
//        if (this.complete) {
//            $(this).fadeIn();
//        } else {
//            $(this).load(function() {
//                $(this).slideDown(250);
//            });
//        }
//    });
//    $('#example').hide();
//    $('#example').fadeIn(1000);
//    $('body').css('padding-top', '0');

$(document).ready(function() {
 
  $("#albums").owlCarousel({
 
      items : 5,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]
 
  });
 
});

</script>
{% endblock %}
