{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% block content %}
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script type="text/javascript" src="{% static 'js/TimeCircles.js' %}"></script>
            <link href="{% static 'css/TimeCircles.css' %}" rel="stylesheet">
            <script type="text/javascript" src="{% static 'js/pistrion-app.js' %}"></script>
            <div class="row">
                <div class="col-sm-2" style="color: white;">
                    <div id="example">
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- chart starts here -->
                <div class="col-sm-12 col-md-8">
                    <div class="widget-box">
                        <div class="widget-title">
                            <h2><i class="glyphicon glyphicon-check"></i> Text the code to (703) 997-8436 to vote!</h2>
                        </div>
                        <div class="chart-container">
                            <div class="widget-container table-responsive">
                            <table class="table table-hover table-striped order-table table-green">
                            <div ng-app="pistrion-app">
                            <thead>
                                <tr>
                                    <th>Song Number#</th>
                                    <th>Album Art</th>
                                    <th>Title</th>
                                    <th>Artist</th>
                                    <th>Code</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>{{song1.icon}}</td>
                                    <td>{{song1.name}}</td>
                                    <td>{{song1.artist}}{{song1.albumArtist}}</td>
                                    <td>{{song1.songId}}</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>{{song2.icon}}</td>
                                    <td>{{song2.name}}</td>
                                    <td>{{song2.artist}}{{song2.albumArtist}}</td>
                                    <td>{{song2.songId}}</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>{{song3.icon}}</td>
                                    <td>{{song3.name}}</td>
                                    <td>{{song3.artist}}{{song2.albumArtist}}</td>
                                    <td>{{song3.songId}}</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>{{song4.icon}}</td>
                                    <td>{{song4.name}}</td>
                                    <td>{{song4.artist}}{{song2.albumArtist}}</td>
                                    <td>{{song4.songId}}</td>
                                </tr>
                            </tbody>
                        </table>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <!-- chart End here -->
                <!-- vital chart starts here -->
                <div class="col-sm-12 col-md-4">
                    <div class="widget-box">
                        <div class="widget-title">
                            <h2><i class="glyphicon glyphicon-align-left"></i>Results</h2>
                        </div>
                        <div class="widget-container vital-stats">
                            <label>40% Clicks</label>
                            <div class="progress progress-striped active">
                              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                <span class="sr-only">40% Complete (success)</span>
                              </div>
                            </div>
                            <label>20% Unique Visitor</label>
                            <div class="progress progress-striped active">
                              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                <span class="sr-only">20% Complete</span>
                              </div>
                            </div>
                            <label>60% Online User</label>
                            <div class="progress progress-striped active">
                              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                <span class="sr-only">60% Complete (warning)</span>
                              </div>
                            </div>
                            <label>80% Offline User</label>
                            <div class="progress progress-striped active">
                              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                <span class="sr-only">80% Complete (danger)</span>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- vital chart end here -->
            </div><!-- row End -->
        </div>
        <!-- Main Container ends here -->
<script type="text/javascript">
    $("#example").TimeCircles({animation: 'ticks',
            circle_bg_color: "lightgray",
            fg_width: 0.02,
            bg_width: 0.2,
            time: {
                Days: { show: false },
                Hours: { show: false },
                Minutes: { show: false },
                Seconds: { color: "white" }
            },
    });
</script>
{% endblock %}
