{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% block content %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/TimeCircles.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-resource.js' %}"></script>
<link href="{% static 'css/TimeCircles.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/pistrion-app.js' %}"></script>
<link href='http://fonts.googleapis.com/css?family=Roboto:200,400,300,500' rel='stylesheet' type='text/css'>

<div class="row">
  <div class="col-sm-2" style="color: white;">
    <div id="example" data-timer="59">
    </div>
  </div>
  <div class="col-sm-10">
    {% include 'partials/rdio.html' %}
  </div>
</div>

<div class="row">
<!-- chart starts here -->
  <div class="col-md-12">
    <div class="widget-box">

      <div class="widget-container" ng-app="pistrion-app" ng-controller="AppController">

        <div class="row">

          <div class="col-xs-12">

            <div class="widget-title">
              <h1 style="text-align:center;"><i class="glyphicon glyphicon-check"></i> Text the code to <strong>(703) 997-8436</strong> to vote!</h1>
            </div>

          </div>

        </div>

        <div class="row">

          <div class="col-xs-12">

            <div id="albums">

              <div class="item">
                <img src="{$song1.icon$}">
                <h2>{$song1.name$}</h2>
              </div>

              <div class="item">
                <img src="{$song2.icon$}">
                <h2>{$song2.name$}</h2>
              </div>

              <div class="item">
                <img src="{$song3.icon$}">
                <h2>{$song3.name$}</h2>
              </div>

              <div class="item">
                <img src="{$song4.icon$}">
                <h2>{$song4.name$}</h2>
              </div>

              <div class="item">
                <img src="{$song5.icon$}">
                <h2>{$song5.name$}</h2>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div> <!-- close widget box -->
  </div> <!-- close col -->

</div><!-- row End -->

<!-- Main Container ends here -->
<script type="text/javascript">
  $("#example").TimeCircles({animation: 'ticks',
    circle_bg_color: "lightgray",
    fg_width: 0.02,
    bg_width: 0.2,
    time: {
    Days: { show: false },
    Hours: { show: false },
    Minutes: { show: false },
    Seconds: { color: "white" }
    },
  });

//    $('img').hide();
//    $('img').each(function(i) {
//        if (this.complete) {
//            $(this).fadeIn();
//        } else {
//            $(this).load(function() {
//                $(this).slideDown(250);
//            });
//        }
//    });
//    $('#example').hide();
//    $('#example').fadeIn(1000);
//    $('body').css('padding-top', '0');

$(document).ready(function() {
 
  $("#albums").owlCarousel({
 
      items : 5,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]
 
  });
 
});

</script>
{% endblock %}
